In [1]:
import requests as rq

from bs4 import BeautifulSoup as bs 

import pandas as pd

pd.set_option('display.max_rows', None)

In [2]:
url='https://es.wikipedia.org/wiki/MasterChef_Espa%C3%B1a'

In [3]:
html=rq.get(url).content
soup=bs(html, 'html.parser')

In [8]:
tabla=soup.find_all('table')[40]

In [9]:
filas=tabla.find_all('tr')

filas=[f.text.strip().split('\n') for f in filas]

In [11]:
final=[]

for f in filas:
    
    tmp=[]
    
    for palabra in f:
        
        if palabra!='':
            
            tmp.append(palabra)
            
    final.append(tmp)
    
final[:7]

[['Aspirante', 'Procedencia', 'Edad', 'Ocupación', 'Información'],
 ['Adrián Zumalabe', ' Vizcaya', '28', 'Técnico instalador'],
 ['Claudia Castellvì', ' Gerona', '28', 'Administrativa'],
 ['David Pascual', ' Asturias', '38', 'Gerente'],
 ['María Lo Gómez', ' Cádiz', '32', 'Desempleada'],
 ['Verónica Gómez de Liaño', ' Salamanca', '26', 'Publicista'],
 ['Patricia Sarriá', ' Barcelona', '32', 'Administrativa', '6.ª expulsada']]

In [17]:
col_names=final[0]

data=final[1:7]

edicion10=pd.DataFrame(data, columns=col_names)

In [18]:
edicion10.columns =['nombre', 'procedencia', 'edad', 'ocupacion', 'ranking']

In [19]:
edicion10['edicion']='10'
edicion10['sexo']='F'

In [20]:
edicion10.loc[0,'sexo'] = 'M'
edicion10.loc[1,'sexo'] = 'F'
edicion10.loc[2,'sexo'] = 'M'
edicion10.loc[3,'sexo'] = 'F'
edicion10.loc[4,'sexo'] = 'F'
edicion10.loc[5,'sexo'] = 'F'

In [21]:
edicion10

,nombre,procedencia,edad,ocupacion,ranking,edicion,sexo
0,Adrián Zumalabe,Vizcaya,28,Técnico instalador,None,10,M
1,Claudia Castellvì,Gerona,28,Administrativa,None,10,F
2,David Pascual,Asturias,38,Gerente,None,10,M
3,María Lo Gómez,Cádiz,32,Desempleada,None,10,F
4,Verónica Gómez de Liaño,Salamanca,26,Publicista,None,10,F
5,Patricia Sarriá,Barcelona,32,Administrativa,6.ª expulsada,10,F

In [26]:
edicion10.drop(columns=['ranking'], inplace=True)

In [27]:
edicion10['edad'] = edicion10['edad'].astype('int')
edicion10['edicion'] = edicion10['edicion'].astype('int')

In [28]:
edicion10.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   nombre       6 non-null      object
 1   procedencia  6 non-null      object
 2   edad         6 non-null      int32
 3   ocupacion    6 non-null      object
 4   edicion      6 non-null      int32
 5   sexo         6 non-null      object
dtypes: int32(2), object(4)
memory usage: 368.0+ bytes

In [29]:
edicion10

                    nombre procedencia  edad           ocupacion  edicion sexo
0          Adrián Zumalabe     Vizcaya    28  Técnico instalador       10    M
1        Claudia Castellvì      Gerona    28      Administrativa       10    F
2            David Pascual    Asturias    38             Gerente       10    M
3           María Lo Gómez       Cádiz    32         Desempleada       10    F
4  Verónica Gómez de Liaño   Salamanca    26          Publicista       10    F
5          Patricia Sarriá   Barcelona    32      Administrativa       10    F

In [30]:
edicion10.to_csv(r'C:\Users\alexd\Ironhack\Proyectos\Project4_DA_Ironhack\Data\masterchef10.csv', index=False)

In [31]:
edicion10.to_excel(r'C:\Users\alexd\Ironhack\Proyectos\Project4_DA_Ironhack\Data\masterchef10.xls', index=False)

C:\Users\alexd\AppData\Local\Temp/ipykernel_2536/145517821.py:1: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.
  edicion10.to_excel(r'C:\Users\alexd\Ironhack\Proyectos\Project4_DA_Ironhack\Data\masterchef10.xls', index=False)

In [32]:
masterchef10_2=pd.read_excel(r'C:\Users\alexd\Ironhack\Proyectos\Project4_DA_Ironhack\Data\masterchef10.xls')

In [33]:
masterchef10_2.to_csv(r'C:\Users\alexd\Ironhack\Proyectos\Project4_DA_Ironhack\Data\masterchef10.csv', index=False)

In [34]:
masterchef10_info=pd.read_excel(r'C:\Users\alexd\Ironhack\Proyectos\Project4_DA_Ironhack\Data\masterchef10_info.xls')

In [35]:
masterchef10_info.to_csv(r'C:\Users\alexd\Ironhack\Proyectos\Project4_DA_Ironhack\Data\masterchef10_info.csv', index=False)